*, *::after, *::before {}

html, body{
  font-family: 'Noto Sans KR';
  font-size: 10px; width: 100%; height: 100%;
  -ms-overflow-style: none; // IE에서 스크롤바 감춤
  &::-webkit-scrollbar {
    display: none !important; // 윈도우 크롬 등
  }
  }

/* noto-sans-kr-300 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-kr-v11-korean_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
      url('../fonts/noto-sans-kr-v11-korean_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v11-korean_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-kr-v11-korean_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-regular - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v11-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('../fonts/noto-sans-kr-v11-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v11-korean_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-kr-v11-korean_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-700 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v11-korean_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('../fonts/noto-sans-kr-v11-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v11-korean_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-kr-v11-korean_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  background-color: #000;
  overflow: scroll;
  -webkit-overflow-scrolling:touch;
}

/*폰트부터 정의*/
.font-light{font-family:'Noto Sans KR'; color:#000; font-weight:300;}
.font-normal{font-family:'Noto Sans KR'; color:#000; font-weight:400;}
.font-bold{font-family:'Noto Sans KR'; color:#000; font-weight:700;}

/*
1. main 은 gnb-body-footer 순 세로정렬
2. gnb 안은 left / right 구성
3. body 안은 header / contents / download 구성
4. footer 안은 left / right 구성
*/

.jumbotron .gnb, .body, .footer {display: flex;}

.gnb {
  height:8rem; z-index: 10;
  background-color: #fff; border-bottom: 0.1rem solid #dbdbdb;
}
.body{
  flex-direction: column;
  background-color: #fff;
}
.footer{
  margin-top: auto;
  height: 50rem;
  background-color: #000; border-top: 0.1rem solid rgba(255,255,255,0.3);
}

/*gnb 블록 설정*/
.gnb-left, .gnb-right {display:flex; align-items: center;} /*아이템은 가로로 쌓임, 세로축 중앙정렬*/
.gnb-left { margin-right: auto; background-color: white;} /*아이템 왼 정렬*/
.gnb-right { margin-left:auto; flex-direction: row-reverse; background-color: white;} /*아이템 오른 정렬*/
.gnb-logo, .gnb-download, .gnb-menu { padding: 0rem 2.4rem;} /* 로고, 다운로드버튼, 메뉴 컨테이너 패딩 설정 */
/*gnb 아이템 ()로고, 다운로드 버튼, 폰트) 스타일링*/
.logo{ height: 2rem;} /*로고 이미지 높이 */
.appstore { height:3.4rem;} /*앱스토어 이미지 높이 */
.gnb-menu{font-size:1.4rem;} /*메뉴 크기*/

/*body 블록 설정*/
.body-header, .body-contents, .body-download {display:flex; flex-direction: column; align-items: center;}
.body-header1{font-size: 3.4rem; padding-top:4rem;}
.body-header2{font-size: 1.6rem; padding:0.5rem 0 3.6rem 0;}
.body-contents{flex-direction: row;}
.body-bg-01 {height: 54rem; width: 100%; background-image: url('img/bg.jpg'); background-size: cover;}

.body-download {background-color: #000; padding:3.6rem 0 4rem 0;}
.body-download-buttons {justify-content: center; padding-top:1.4rem;}
.body-download .appstore{height: 4rem; margin:0 1rem;}
.body-header3{color:#fff; font-size: 1.4rem;}

/*footer 블록 설정*/
.footer-left, .footer-right {display: flex; align-items:flex-start; padding-top:5rem;}
.footer-left {margin-right: auto; padding-left: 6rem;}
.footer-right {margin-left: auto; padding-right:10rem;}

.footer-menu {display:flex; flex-direction: column; padding:1rem; padding-left: 0rem; }
.footer-menu-item {padding-left: 10rem; padding-bottom: 2rem; font-size: 1.2rem; color: #fff;}
.footer .text{color:#fff; font-size:1.2rem; line-height: 3.2rem; opacity: 0.5;}


/*ol, ul 스타일링*/
#terms .body, #privacypolicy .body {flex-direction: row; align-items:flex-start;}
.body-subheader {flex: 0 0 auto; width:24rem; font-size:2.4rem; padding:6rem;}
.body-subcontents {font-size:1.6rem; line-height: 3.2rem; opacity:0.9; padding: 4.3rem 16rem 16rem 0;}
#terms .body-subcontents {padding-top: 1.6rem;} /*매뉴얼로 바꿨어요... 슬프다*/
h2, h3 {padding: 1rem 0rem 1rem 3rem;}
h2.font-bold {padding-bottom: 1rem; padding-top: 4rem;}
h2>ol>li {display: list-item; list-style-type: decimal-leading-zero; list-style-position: inside; padding:1rem 0;}
h2>ol>li {display: list-item; list-style-type: decimal-leading-zero; list-style-position: inside; padding:1rem 0;}

h3>ul>li {display: list-item; list-style-type: disc; list-style-position: inside;}
h3>ol>li {display: list-item; list-style-type: decimal-leading-zero; list-style-position: inside; padding:0.5rem 0;}
.privacyimg {width: 60rem; padding:1rem 0;}


/*responsive
@media (max-width: 430px) {
@media (max-width: 800px), (orientation: portrait) {
*/
@media (max-width: 768px) {
  #terms .body, #privacypolicy .body {flex-direction: column;}
  #terms h2, #privacypolicy h2 {padding: 1rem 3rem;}
  .body-subcontents {padding: 0; padding-bottom: 10rem;}
  .body-subheader {padding: 6rem 3rem 2rem;}
  .footer-left {padding-left: 3rem;}
  .footer-menu-item {padding-left:6rem;}
}

@media (max-width:425px) {
  html, body{ font-size:5px;}
  .gnb {border-bottom: 0.2rem solid #dbdbdb;}
  .footer-right {padding-right: 3rem;}
  .footer-menu-item{width: 24rem; text-align: left;}
}
