*, *::after, *::before {}

html, body{
  font-family: 'Noto Sans KR';
  font-size: 10px; width: 100vw; height: 100vh;
  -ms-overflow-style: none; // IE에서 스크롤바 감춤
  &::-webkit-scrollbar {
    display: none !important; // 윈도우 크롬 등
  }
  }


@font-face {
font-family: 'Noto Sans KR', sans-serif;}


body {
  background-color: #000;
  -webkit-overflow-scrolling:touch;
}

/*폰트부터 정의*/
.font-light{font-family:'Noto Sans KR'; color:#000; font-weight:300;}
.font-normal{font-family:'Noto Sans KR'; color:#000; font-weight:400;}
.font-bold{font-family:'Noto Sans KR'; color:#000; font-weight:700;}

/*
1. main 은 gnb-body-footer 순 세로정렬
2. gnb 안은 left / right 구성
3. body 안은 header / contents / download 구성
4. footer 안은 left / right 구성
*/

.jumbotron .gnb, .body, .footer {display: flex;}

.gnb {
  height:8rem; z-index: 10;
  background-color: #fff; border-bottom: 0.1rem solid #dbdbdb;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.body{
  flex-direction: column;
  background-color: #fff;
}
.footer{
  margin-top: auto;
  height: calc(100vh - 20rem);
  background-color: #000; border-top: 0.1rem solid #ffffff30;
}

/*gnb 블록 설정*/
.gnb-left, .gnb-right {display:flex; align-items: center;} /*아이템은 가로로 쌓임, 세로축 중앙정렬*/
.gnb-left { margin-right: auto; background-color: white;} /*아이템 왼 정렬*/
.gnb-right { margin-left:auto; flex-direction: row-reverse; background-color: white;} /*아이템 오른 정렬*/
.gnb-logo, .gnb-download, .gnb-menu { padding: 0rem 2.4rem;} /* 로고, 다운로드버튼, 메뉴 컨테이너 패딩 설정 */
/*gnb 아이템 ()로고, 다운로드 버튼, 폰트) 스타일링*/
.logo{ height: 2rem;} /*로고 이미지 높이 */
.appstore { height:3.4rem;} /*앱스토어 이미지 높이 */
.gnb-menu{font-size:1.4rem;} /*메뉴 크기*/
/*app-open 모바일에서 띄우기*/
.app-open{display: flex; align-items: center; height: 10rem;}
.app-open>a{margin:auto;}
.app-open-button {
  height: 6rem; width:20rem;
  color:white; font-size: 2rem;
  border-radius: 1rem; border: 0.2rem solid #fff;
}

/*body 블록 설정*/
.body-header, .body-contents, .body-download {display:flex; flex-direction: column; align-items: center;}
.body-header1{font-size: 3.4rem; padding-top:2.4rem;}
.body-header2{font-size: 1.6rem; padding:0.5rem 0 2.4rem 0;}
.body-contents{flex-direction: row;}
.body-bg-01 {height: 54rem; width: 100vw ; background-image: url('img/bg.jpg'); background-size: cover;}
.body-bg-02 {
    height: calc(100vh - 32.5rem); width: 20vw;
    object-fit: cover;}

.body-download {background-color: #000; padding: 2rem; border-top: 0.1rem solid #ffffff30;}
.body-download-buttons {justify-content: center; padding-top:1.4rem;}
.body-download .appstore{height: 4rem; margin:0 1rem;}
.body-header3{color:#fff; font-size: 1.4rem;}

/*body 하단 콘텐츠 추가*/
.body-apppreview {display:flex;  }
.body-left{margin-right: auto; margin-left: 20rem; margin-top:calc(50vh - 19rem);}
.body-right{margin-left:auto; margin-right:calc(25vw - 13vh);}
.blackframe {
    position: relative;
    height: calc(80vh); margin-top: calc(10vh - 4rem);
}
#el.body-right{position:relative; margin-right: calc(25vw - 25vh);}
.ads000{
    position: absolute;
    height: calc(77vh); margin-top: calc(11.5vh - 4rem);
    border-radius: calc(2vh); margin-left: calc(1.75vh);
}
.body-header4{font-size: 3.6rem; position: relative; z-index: 1; width: max-content}
.body-header4::after{
    content: "";
    left: 0; top: 8rem;
    height: 2rem; width: 100%;
    background: #fa6238;
    position: absolute;
    z-index: -1;
  }
.body-contents4{font-size: 1.6rem; padding-top:2rem; line-height: 3rem;}
.body-adspreview {display:flex;  }
.body-adspreview .body-header4::after {top: 14rem;}
.body-full-ads {display:flex; position: relative; background-color: black;}
.body-full-ads-contents {
    position: absolute;
    top: calc(50vh - 17rem); right: calc(6vw);
  }
.white {color:#2b2725}
.ads001, .ads002{height: calc(100vh - 8rem); width: 100%; object-fit: cover;}
.body-full-ads .body-header4::after{width: 10rem;}
.whiteframe{
  position:absolute;
  width: calc(42vh);
  left: calc(50vw - 21vh); top: calc(7.5vh - 4rem);
}
.ads004{width:calc(64vh); border-radius: 2rem;}

/*footer 블록 설정*/
.footer-left, .footer-right {display: flex; align-items:flex-start; padding-top:5rem;}
.footer-left {margin-right: auto; padding-left: 6rem;}
.footer-right {margin-left: auto; padding-right:10rem;}
.footer-menu {display:flex; flex-direction: column; padding:1rem; padding-left: 0rem; }
.footer-menu-item {padding-left: 10rem; padding-bottom: 2rem; font-size: 1.2rem; color: #fff;}
.footer .text{color:#fff; font-size:1.2rem; line-height: 3.2rem; opacity: 0.5;}
.body-end{background-color:#000;}

/*ol, ul 스타일링*/
#terms .body, #privacypolicy .body {flex-direction: row; align-items:flex-start;}
.body-subheader {flex: 0 0 auto; width:24rem; font-size:2.4rem; padding:6rem;}
.body-subcontents {font-size:1.6rem; line-height: 3.2rem; opacity:0.9; padding: 4.3rem 16rem 16rem 0;}
#terms .body-subcontents {padding-top: 1.6rem;} /*매뉴얼로 바꿨어요... 슬프다*/
h2, h3 {padding: 1rem 0rem 1rem 3rem;}
h2.font-bold {padding-bottom: 1rem; padding-top: 4rem;}
h2>ol>li {display: list-item; list-style-type: decimal-leading-zero; list-style-position: inside; padding:1rem 0;}
h2>ol>li {display: list-item; list-style-type: decimal-leading-zero; list-style-position: inside; padding:1rem 0;}

h3>ul>li {display: list-item; list-style-type: disc; list-style-position: inside;}
h3>ol>li {display: list-item; list-style-type: decimal-leading-zero; list-style-position: inside; padding:0.5rem 0;}
.privacyimg {width: 60rem; padding:1rem 0;}


/* swiper */
.wrapper1 {display: flex; flex-direction: column; height: 100vh;}
.swiper1 {
        width: 100%; height: calc(100vh - 8rem);
        margin-left: auto;
        margin-right: auto;
}
.swiper-pagination-bullet-active {background: black !important; }
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {margin: 12px 0 !important;}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {width: 6px !important; height: 6px !important;}
.swiper-button-next:focus, .swiper-button-prev:focus {outline-style: none;}

.swiper2 { width: calc(64vh); margin-top: calc(10vh - 4rem);}
.swiper-button-next, .swiper-button-prev { color: #ffffff80 !important; }
.swiper-button-next:after, .swiper-button-prev:after {font-size: 2rem !important; }

.swyi__page1 {
  display: grid;
  height: calc(100vh - 8rem) !important;
  grid-template-rows: max-content 1fr max-content;
}

/*기본 웹 767보다 크고 landscape 일 경우*/
@media (min-width:767) and (orientation:landscape){
    html, body{ font-size:8px;}
    .body-left{margin-left: 10rem;}
    .body-full-ads-contents {right: calc(100vw/40);}
    .swiper2{width: calc(55vh); margin-top: calc(16vh - 4rem);}
    .ads004{width: calc(55vh);}
}
/*기본 모바일 767보다 작은 경우 */
@media (max-width:767px){
   html, body{ font-size:5px;}
  .gnb {border-bottom: 0.2rem solid #dbdbdb;}
  .ads000{ margin-top: calc(var(--vh, 1vh) * 10 - 4rem);}
  .blackframe{ margin-top: calc(var(--vh, 1vh) * 8.5 - 4rem);}
  .body-bg-02{width:100vw; height:calc(var(--vh, 1vh) * 100 - 8rem); object-fit: cover;}
  .body-apppreview{flex-direction: column;}
  .swyi_page1{position:relative;}
  .body-header-mobile{position: absolute;}
  .body-header{color:#fff; font-size:5.4rem; text-align: center;}
  .body-download-buttons{text-align: center;}
  .mobile .appstore{height: 8rem;}
  .body-header-mobile {top: calc(var(--vh, 1vh) * 40); left: calc(50vw - 23.5rem);}
  .body-contents{height:calc(var(--vh, 1vh) * 100 - 8rem); width:100vw;}
  .body-header4{font-size: 5.6rem; line-height: 7rem;}
  .body-header4::after{top: 18rem; height: 3rem;}
  .body-contents4{ font-size: 2.8rem; line-height: 4.2rem; color: #00000090;}
  .body-left, .body-right {margin:0;}
  .body-left{padding-top: calc(var(--vh, 1vh) * 50 - 30rem); padding-left: calc(50vw - 19.5vh);}
  .body-right{padding-left: calc(50vw - 20vh);}
  .body-full-ads-contents .body-contents4{color: #fff; text-shadow: 0.1rem 0.1rem 0.5rem #00000090;}
  .white {color: #fff;}
  .body-full-ads-contents {right: unset; padding-left: calc(50vw - 19.5vh); top: calc(var(--vh, 1vh) * 50 - 33rem);}
  .body-full-ads-contents .body-header4::after {width: 16rem; top: 11rem; height: 3rem;}
  #el.body-header4::after{top: 11rem;}
  #el.body-right{padding:0; background-color: #000;}
  .ads004 {width: 100vw; border-radius:0;}
  .swiper2 { width: 100vw; display: flex; margin:unset; }
  .swiper-button-next:after, .swiper-button-prev:after {font-size: 4rem !important; }
  .body-adspreview {display: block;}
  #el, #el .swiper-slide{display: flex; height:calc(var(--vh, 1vh) * 100);}
  #el .swiper-slide{margin-bottom:calc((var(--vh, 1vh) * 50) - 50vh);}
  .logo{height: 3rem; margin-top: 0.8rem;}
  .footer-right {padding-right: 3rem;}
  .footer-menu-item{width: 24rem; text-align: left;}

  #terms .body, #privacypolicy .body {flex-direction: column;}
  #terms h2, #privacypolicy h2 {padding: 1rem 3rem;}
  .body-subcontents {padding: 0; padding-bottom: 10rem;}
  .body-subheader {padding: 6rem 3rem 2rem;}
  .footer-left {padding-left: 3rem;}
  .footer-menu-item {padding-left:6rem;}
}
@media (max-width:320px){
  html, body{ font-size:4px;}
}
/*타블렛 767보다 크고 portrait 일 경우*/
@media (min-width:767px) and (orientation : portrait){
  html, body{ font-size: 12px;}
 .ads000{ margin-top: calc(var(--vh, 1vh) * 10 - 4rem);}
 .blackframe{ margin-top: calc(var(--vh, 1vh) * 8.5 - 4rem);}
 .body-bg-02{width:100vw; height:calc((var(--vh, 1vh) * 100) - 8rem); object-fit: cover;}
 .gnb {border-bottom: 0.2rem solid #dbdbdb;}
 .swyi_page1{position:relative;}
 .body-header-mobile{position: absolute; top: calc(var(--vh, 1vh) * 50 - 12rem); left: calc(50vw - 15.5rem);}
 .body-header{color:#fff; font-size:3.4rem; text-align: center;}
 .body-header4{font-size: 2.6rem;}
 .body-header4::after {top: 9.5rem;}
 .body-full-ads-contents .body-header4::after {width: 7.5rem; top: 6rem;}
  #el.body-header4::after{top: 9.5rem; width:11rem;}
 .body-download-buttons{text-align: center;}
 .body-left{margin-left: 4rem; margin-right: 1rem; margin-top:calc(50vh - 24.5rem);}
 .body-contents4{font-size: 1.4rem; width: 27vw;}
 .blackframe{height: calc(101vw); margin-top: calc(var(--vh, 1vh) * 50 - 56.2vw);}
 .ads000{height: calc(97.5vw); margin-top: calc(var(--vh, 1vh) * 50 - 54vw); margin-left: calc(2vw);}
 .body-right{margin-right:calc(12vw - 2rem);}
 .tablet .appstore{height: 5rem;}
 .body-contents{height:calc(100vh - 8rem); width:100vw;}
 .swiper2{width: 60vw;margin-top: calc(50vh - 46vw);}
 .ads004{width: 60vw;height: 74.8vw;margin-top: calc(50vh - 65vw);}
 #el.body-right{margin-right: calc(4vw);}
 .body-full-ads-contents .body-contents4{
   color: #fff; font-weight: 400; text-shadow: 0.1rem 0.1rem 0.1rem #00000090;}
 .white {color: #fff;}
 .ads001{object-fit: contain;}
 #el, #el .swiper-slide{display: flex;}
 #el .swiper-slide{margin-bottom:calc((var(--vh, 1vh) * 50) - 50vh);}

 #terms .body, #privacypolicy .body {flex-direction: column;}
 #terms h2, #privacypolicy h2 {padding: 1rem 3rem;}
 .body-subcontents {padding: 0; padding-bottom: 10rem;}
 .body-subheader {padding: 6rem 3rem 2rem;}
 .footer-left {padding-left: 3rem;}
 .footer-menu-item {padding-left:6rem;}
 .footer-right{ padding-right: 3rem; width: 40vw;}
}
/*타블렛과 웹 크기만 조정*/
@media (max-width: 1440px) and (min-width:1024px) and (orientation : landscape) {
  .body-left{margin-left: 16rem;}
}
@media (max-width: 1440px) and (min-width:1024px) and (orientation : portrait) {
  .body-left{margin-left: 5rem;}
}
@media (min-width:1440px){
  html, body{font-size : 12px;}
}
@media (min-width:2560px){
  html, body{font-size : 20px;}
}
@media (min-width:1440px) and (orientation : portrait){
  html, body{font-size:20px;}
  .body-contents4{width: 20vw;}
  .footer-right{ padding-right: 3rem; width: 40vw;}
  .body-left{margin-left:6rem;}
}
