*, *::after, *::before {}
/*    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out; */

html, body{
  font-family: 'Noto Sans KR';
  font-size: 6px; width: 100%; height: 100%;
  font-size: calc(100vw/144);
  -ms-overflow-style: none; // IE에서 스크롤바 감춤
  &::-webkit-scrollbar {
    display: none !important; // 윈도우 크롬 등
  }

  }


/* noto-sans-kr-300 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-kr-v11-korean_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
      url('../fonts/noto-sans-kr-v11-korean_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v11-korean_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-kr-v11-korean_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-regular - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v11-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('../fonts/noto-sans-kr-v11-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v11-korean_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-kr-v11-korean_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-kr-700 - korean_latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v11-korean_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('../fonts/noto-sans-kr-v11-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v11-korean_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-kr-v11-korean_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@media (max-width: 800px), (orientation: portrait) {
  html {font-size: calc(100vw/70);}
}

@media (max-width: 430px) {
  html {font-size: calc(100vw/45);}
}

/* color palette*/
body {background-color: #8346FF;}

/*
::-webkit-scrollbar { width: 0.8rem;}
::-webkit-scrollbar-thumb {border-radius: 6rem; background-color: #ffffff; }
*/

/*button.gnb:hover{ color: var(--light-mustard);
}
button.gnb:active{ color: var(--faded-orange); border-bottom-color: var(--faded-orange);
}*/

.addbg{
  background-color: #732CF4;
}

.gnb-bar {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 8rem;
  z-index: 10;
  overflow: hidden;
}

.gnb-bar .gnb-bar-left {
  float: left; overflow: auto;
}

.gnb-bar .gnb-bar-left .gnb {
  float: left; overflow: auto;  padding: 3rem 3rem 3rem 6rem;
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-size:  1.6rem; color: #ffffff;
}

.gnb-bar .gnb-bar-left img {
  float: left; height: 2rem;
}



/* main page */

.main-01 {
  display: block;
  position:relative;
  padding-left: 6rem;
  margin-top:33vh;
}

.main {
  display: block;
  position: relative;
  height: 40%;
  color: #ffffff;
  font-size: 6rem; line-height: 5.6rem;
  font-weight:700;
  letter-spacing:1rem;
  }

.subtext{font-family:'Noto Sans KR'; color:white; font-size:2.3rem;
font-weight:300; margin-top:.7rem;}

#privacypolicy>.main-01 { width: 100%; }


.storebuttons{display:block;position:relative;}

.appstorebutton{
  float:left;
  margin-right:1rem;
  cursor:pointer;
  width:20rem;
  height:5rem;
}

.appstore {
  display: block;
  width: 20rem; height: 10rem; margin-top:3rem;
  background-image: url(img/appstore.png);
  background-size: contain; background-repeat: no-repeat; background-position: center;
}

.playstore {
  display: block;
  width: 20rem; height: 10rem; margin-top:3rem;
  background-image: url(img/playstore.png);
  background-size: contain; background-repeat: no-repeat; background-position: center;
}

strong {font-weight: 700;}
#privacypolicy>.main-03>a>.appstore { position: absolute;
  width: 20rem; height: 10rem;  top: calc(50vh); left: calc(80vw);
}
/*
.wrap {
  padding: 0rem 6rem;
}
*/

/* Background & buttons */
.jumbotron{ position: fixed;
  top: 0; left: 0; right: 0; height: 100%;
  background-size: cover; background-repeat: no-repeat; background-position: center;
  overflow:hidden; z-index: -100;
}

body {
  overflow: scroll;
  -webkit-overflow-scrolling:touch;
}

#privacypolicy>.jumbotron{
  background-color: #6d00ff;
}

#privacypolicy>.gnb-bar{
  background-color: #6d00ff;
}

.privacypolicy, .terms {
  display: block;
  position: relative;
  margin-top:13rem;
  padding-left:15rem;
  padding-bottom: 20rem;
  font-weight: 400;
  width: 70%; height: 60%;
  font-family: 'Noto Sans KR'; line-height: 3.6rem;
  font-size:  1.8rem; color: #ffffff;
  overflow: scroll;
  -webkit-overflow-scrolling:touch;

}

.jumbotron>div{
  position:absolute; content: ''; width:100%; height:100%;
  background-size: contain;  background-repeat: no-repeat;  overflow:auto;
}

.backgroundbasic{
  top: 0; right: 0; height: 100%; min-height: calc(64vw); max-height: calc(100vw);
  background-image: url(bg/bg.svg);
  background-position: top -1rem right -24rem;
}

/* footer */

.footer {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 8rem;
  overflow: hidden;
}

#privacypolicy>.footer{
  position: relative;
}

.footer .footer-left {
  float: left; overflow: auto;
  padding-left: 5rem;
}

.footer .footer-right {
  float: right; overflow: auto;
  padding-right: 5rem;
}

.footer .footer-left h1, .footer .footer-right h1 {
  float: left;
  padding: 4rem 1rem 6rem 1rem;
  font-family: 'Noto Sans KR';   font-weight: 700;
  font-size:  1.2rem; color: #ffffff;
}

.footerposition {position: relative;}

@media (max-width: 800px), (orientation: portrait) {
.jumbotron>.backgroundbasic {
  max-height: 200%;
  width: 150%;
  background-position: top 20vh left 90vw;}
.appstore{
  top: calc(60vh);
}
.privacypolicy, .terms { width: 100%; }
#privacypolicy>.main-03>a>.appstore {display: none;}
.footer { margin-top:6rem; }
.footer .footer-left, .footer .footer-right {
  float: left; display: block;
  padding: 0rem; margin-left: 5rem;
}
.footer>.footer-left>h1, .footer>.footer-right>h1 {
  font-weight: 400; font-size: 1.2rem;
  padding: 0rem; margin-top:0.6rem; padding-right:2rem;
}
#privacypolicy>.main-01>.main{font-size:6rem;
  padding-right: 6rem; }
.privacypolicy, .terms {
  margin-top:11rem; padding-bottom: 10rem; padding-left: 6rem; padding-right: 6rem;
}
  #privacypolicy>.gnb-bar { background-color: #732CF4;}

}

@media (max-width: 430px) {
  .jumbotron>.backgroundbasic {display:none;}
  .main{ padding-right: 4rem; top:2rem;font-size: 5.7rem; line-height:7rem; text-align:center; }
  .main-01{padding-left:4rem;margin-top:19vh;}
  .main-02{margin-top:18vh;}

  .subtext{display:block;margin:auto;padding-right:4rem;text-align:center;margin-top:3rem;}

  .appstore{
    display: block; margin-top:2rem;
    height: 10rem; bottom: -32rem;
    }

  .appstorebutton{display:block;transform:translate(23%,-4%);margin-top:1.4rem;}  
  .privacypolicy, .terms {
    padding-left: 4rem; padding-right: 4rem; padding-bottom:5rem;
    margin-top:11rem;
  }
  /*일단 모바일 보면서 사이즈 조정함*/
  .gnb-bar .gnb-bar-left img {height: 2rem; margin-top:0.3rem;}
  .gnb-bar .gnb-bar-left .gnb {padding: 3.2rem 0rem 0rem 4rem; font-size: 1.8rem;}
  #privacypolicy>.gnb-bar { background-color: #732CF4;}
  #privacypolicy>.main-01>.main{font-size:5rem;}
  .footer{ overflow: visible; position: relative;
    display: block; background-color: #732CF4;
    padding: 4rem; height: 23rem; line-height:1rem; margin-top:-30px;}
  .footer .footer-left, .footer .footer-right {
    float: left; display: block; margin-left: 0;
    padding: 0rem;
  }
  .footer>.footer-left>h1, .footer>.footer-right>h1 {
    font-weight: 400; font-size: 1.4rem;
    padding: 0rem; margin-top:2rem; padding-right:2rem;
  }
  #main>.gnb-bar {background-color: #732CF4;}
  .backgroundbasic{
    min-height: calc(200vw);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0rem right -42rem;
  }
}



@media (max-width: 320px) {
  .jumbotron>.backgroundbasic {display:none;}
  .main{ padding-right: 4rem; top:2rem;font-size: 5.8rem; line-height:6rem;text-align:center;}
  .main-01{padding-left:3rem;}
  .subtext{display:block; padding-right:4rem;text-align:center;}
  .storebuttons{display:block;transform:translate(0%,29%);}
  
  .appstorebutton{transform:translate(15%,-4%);}
  .appstore{
    
    height: 10rem; bottom: -32rem;
    } 
   .playstore{
    height: 10rem; bottom: -32rem;
    }

  .privacypolicy, .terms {
    padding-left: 4rem; padding-right: 4rem; padding-bottom:5rem;
    margin-top:11rem;
  }
  /*일단 모바일 보면서 사이즈 조정함*/
  .gnb-bar .gnb-bar-left img {height: 2rem; margin-top:-0.3rem;}
  .gnb-bar .gnb-bar-left .gnb {padding: 3.2rem 0rem 0rem 3rem; font-size: 1.8rem;}
  #privacypolicy>.gnb-bar { background-color: #732CF4;}
  #privacypolicy>.main-01>.main{font-size:5rem;}
  .footer{ overflow: visible; position: relative;
    display: block; background-color: #732CF4;
    padding: 4rem; height: 23rem; line-height:1rem; margin-top:-30px;}
  .footer .footer-left, .footer .footer-right {
    float: left; display: block; margin-left: 0;
    padding: 0rem;
  }
  .footer>.footer-left>h1, .footer>.footer-right>h1 {
    font-weight: 400; font-size: 1.4rem;
    padding: 0rem; margin-top:2rem; padding-right:2rem;
  }
  #main>.gnb-bar {background-color: #732CF4;}
  .backgroundbasic{
    min-height: calc(200vw);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0rem right -42rem;
  }
}
